p {background-color: aqua;}

img {display: block;
    margin-left:  auto;
    margin-right: auto;
    width: 10%;}

.dark {
    background-color: #535559;
    color: white;
}

.lightgrey {
    background-color: #aaacb1;
}

.grey{
    background-color: #7e8085;
}

input{
    width: 50px;
}

.chatroom-main {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: block;
}